spring-cli-standalone
spring-cli-standalone-0.9.0-SNAPSHOT-linux.x86_64.zip
# Project exclude paths
/browser/build/
/build/
/build/js/packages/section-browser/kotlin/
/common/build/
/desktop/build/
.gradle
.idea
#gradle/wrapper/gradle-wrapper.jar
data
section.code-workspace
kotlin-js-store/yarn.lock

local.properties
private
bin
.classpath
.project
.settings
.vscode
kotlin-springboot.code-workspace
sprinkboot.zip

*.iws
*.iml
*.ipr