.env
*.hprof
managed-jbake-context.yml
slides-context.yml
gradle-home.properties
build
.gradle
.idea
.settings
.project
private
local.properties
bootstrap-3.3.7.zip
static-site-jbake
.vscode
node_modules
.vs
navigator.zip
*.iml
*.ipr
*.iws
