server.log
spring-cli-standalone
spring-cli-standalone-0.9.0-SNAPSHOT-linux.x86_64.zip
# Project exclude paths
e3p0.yaml
e-3po.yaml
managed-jbake-context.yml
/browser/build/
/build/
/build/js/packages/section-browser/kotlin/
/common/build/
/desktop/build/
.gradle
.idea
gradle/wrapper/gradle-wrapper.jar
data
section.code-workspace
simple-server/bin
kotlin-js-store/yarn.lock
local.properties
private
bin
.classpath
.project
.settings
src/main/resources/application-mailslurp.yml
.vscode
kotlin-springboot.code-workspace
*.iws
*.iml
*.ipr